{% extends 'blogs/base.html' %}
{% block title %}Register{% endblock title %}
{% block head %}
<style>
    .box{
        width: 500px;
        padding: 50px;
        margin: auto;
        justify-content: center;
    }
    .box a{
        display: block;
        text-align: center;
        font-size:smaller;
        color:#198754;
        text-decoration:none;
    }
</style>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
{%endblock head%}
{%block main%}
    {% if form.errors %}
    <div class="alert alert-danger" style="width: 1000px;margin: auto;">
      <a href="#" class="close" data-dismiss="alert"></a>
      {% for _, error in form.errors.items %}
      <strong>错误信息{{  error }}</strong>
      {% endfor %}
    </div>
    {% endif %}
    </form>
    <div class="box">
        <form method="post" action="{% url 'users:register' %}">
            {% csrf_token %}
          <h1 class="h2 mb-3 fw-normal" style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Register</h1>
          <div class="form-floating">
            <input name="username" type="username" class="form-control" id="floatingInput" placeholder="用户名">
            <label for="floatingInput">登录ID</label>
          </div>
          <div class="form-floating">
            <input name="password1" type="password" class="form-control" id="floatingPassword" placeholder="输入密码">
            <label for="floatingPassword">密码</label>
          </div>
          <div class="form-floating">
            <input name="password2" type="password" class="form-control" id="floatingPassword" placeholder="输入相同密码">
            <label for="floatingPassword">密码确认</label>
          </div>
          <button class="btn btn-success w-100 py-2" type="submit">注册</button>
          <input type="hidden" name="next" value="{% url 'blogs:index' %}"/>
          <div>
            <a href="{%url 'users:login'%}">
                已有账号？🔒立即登录</a> 
          </div>
          
        </form>
       
    </div>
{% endblock main %}